<div class="card mx-auto text-center border-light" style="width: 18rem">
  <img class="card-img-top" src="assets/ocoldwell.png" alt="Angular Logo" />
  <div class="card-body">
    <h5 class="card-title">It'sa me Ollie</h5>
    <p class="card-text">
      This is my blog where I'm going to be talking about what I'm learning
      about and/or working on. Most of the time this is code related. I believe
      in the power of learning openly and talking about my struggles as I come
      to terms as a new developer. This site is made in Angular & Scully, and is
      never going to be as pretty as some, as I prefer functionally and
      performance to style.
    </p>
    <ul>
      You can find me here:
      <li>
        <a href="https://twitter.com/moogalite"> Twitter </a>
        <a href="https://www.linkedin.com/in/ollie-coldwell-594b53171/">
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</div>
