<div class="container-fluid">
  <div class="row">
    <div class="image-container col">
      <img
        class="profile-pic"
        src="assets/ocoldwell.png"
        alt="Picture of man wearing an orange and blue checked shirt, the author of the website"
      />
    </div>
  </div>

  <div class="row">
    <p class="col col-md-6 mx-auto justify-content-center">
      <strong>Hey, I'm Ollie</strong>, this is my blog where I'm going to be
      talking about what I'm learning about and/or working on. Most of the time
      this is code related. I believe in the power of learning openly and
      talking about my struggles as I come to terms with being a new developer.
      Feel free to reach out to me at my social media links, or my email
      <a href="mailto:olivercoldwell@gmail.com">here</a>
    </p>
  </div>
</div>
