.footer {
  position: static;
  width: 100%;
  bottom: 0;
}

.navbar-nav {
  flex-direction: row;
}

.text {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
